@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@500;700;800&family=Fira+Code:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.01em;
}

h1, h2, h3, .font-heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: -0.03em;
}
